/* ------------------------------------------------------------------

NATURE FEE SASS/CSS WORK BY B. GUNNARSSON www.bgunnarsson.com

------------------------------------------------------------------ */
/* ------------------------------------------------------------------

BLAND.is SASS/CSS WORK BY B. GUNNARSSON @ EPERTIA www.expertia.is

------------------------------------------------------------------ */
/* SASS VARIABLES 
-----------------------------*/
/* FONT */
/* FONT SIZES */
/* ------------------------------------------------------------------

BLAND.is SASS/CSS WORK BY B. GUNNARSSON @ EPERTIA www.expertia.is

------------------------------------------------------------------ */
/* SASS MIXINS 
-----------------------------*/
/* -----------------------------------------------------------------------------------------------

  www.ArcadeFlower.com SASS/CSS WORK BY B. GUNNARSSON @ ARCADEFLOWER www.arcadeflower.com
  
----------------------------------------------------------------------------------------------- */
/* BOOTSTRAP FIXES
-----------------------------*/
/* IE7 SUPPORT */

* {
  box-sizing: border-box;
  *behavior: url(boxsizing.htc);
  -webkit-text-shadow: 0 0 0 0;
  -moz-text-shadow: 0 0 0 0;
  text-shadow: 0 0 0 0; }
  *:focus {
    box-sizing: border-box;
    *behavior: url(boxsizing.htc);
    -webkit-text-shadow: 0 0 0 0;
    -moz-text-shadow: 0 0 0 0;
    text-shadow: 0 0 0 0; }

    /* BUTTONS
-----------------------------*/
.btn {
  font-weight: 400;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.btn-success {
  background: #27ae60;
  border-color: #27ae60; }
  .btn-success:hover {
    background: #24a259;
    border-color: #24a259; }

/* ALERTS */
.alert .alert-link {
  color: white; }
  .alert .alert-link:hover {
    text-decoration: none; }

/* OTHER BOOTSTRAP STUFF */
.well {
  background: #eee;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border: 0; }

  /* GLOBAL
-----------------------------*/
html, body {
  min-height: 100%;
  max-height: 100%;
  height: 100%; }

body {
  background: #f3f3f3;
  font-family: "Open Sans", sans-serif;
  color: #2a2a2a;
  font-size: 16px; }

p {
  color: #2a2a2a; }

a {
  color: #27ae60; }
  a:hover {
    color: #24a259;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

img {
  max-width: 100%; }

  .activity-free
  {
    font-size:13px;
    color: #e74c3c; 
  }
    

/* FORMS
-----------------------------*/
select {
  padding: 5px 9px 6px;
  border: 1px solid #dddddd; }

input[type="text"], textarea {
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  background: white;
  padding: 6px 12px; }

/* TYPOGRAPHY
-----------------------------*/
p {
  font-size: 14px;
  line-height: 22px; }

/* SCALE HOVER
-----------------------------*/
.scale img {
  -webkit-transition: all .10s ease-in-out;
  -moz-transition: all .10s ease-in-out;
  -o-transition: all .10s ease-in-out;
  transition: all .10s ease-in-out; }
  .scale img:hover {
    -webkit-transform: scale(1.1); }

/* FONT WEIGHT CLASSES */
.bold {
  font-weight: 700; }

/* RESET LISTS */
.resetList {
  list-style: none;
  padding: 0;
  margin: 0; }

/* CUSTOM ARCADE NAV / NAVIGATION / NAVBAR
---------------------------------------------*/
.btn-arcade-nav:hover {
  color: white; }

#arcade-mobile-nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  display: none; }
  #arcade-mobile-nav li {
    float: none;
    border-top: 1px solid #e8e8e8; }
    #arcade-mobile-nav li:first-child {
      border-top: 0; }
  #arcade-mobile-nav a {
    color: #474747;
    display: block;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 600; }
    #arcade-mobile-nav a:hover {
      color: #2A2A2A;
      background: #f3f3f3; }

#mobile-nav-trigger {
  font-size: 40px;
  padding: 0;
  margin: 5px 0 0;
  display: block;
  line-height: 41px;
  display: none; }

.navList {
  list-style: none;
  padding: 0;
  margin: 0; }
  .navList li {
    float: left; }

/* NAV EFFECTS */
/* TOP NAV */
.arcadeNav a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #2a2a2a;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
  color: #474747;
  font-size: 18px;
  height: 24px;
  margin-top: 21px;
  text-align: left;
  padding: 0 22px;
  font-weight: 600; }

.arcadeNav a span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.1s;
  -moz-transition: -moz-transform 0.1s;
  transition: transform 0.1s; }

.arcadeNav a span::before {
  color: #2a2a2a;
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 600;
  width: 311px;
  color: #27ae60;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.arcadeNav a:hover span, .arcadeNav a:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%); }

/* LANG LINK EFFECTS*/
#langList a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #2a2a2a;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
  color: #474747;
  font-size: 18px;
  height: 24px;
  margin-top: 21px;
  text-align: left;
  padding: 0 20px; }

#langList a span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.1s;
  -moz-transition: -moz-transform 0.1s;
  transition: transform 0.1s; }

#langList a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  width: 164px;
  color: #27ae60;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#langList a:hover span, #langList a:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%); }

#natureLang {
  position: relative; }
  #natureLang #langList {
    list-style: none;
    position: absolute;
    display: none;
    top: 66px;
    right: 1px;
    background: white;
    padding: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }
    #natureLang #langList li {
      float: none; }
      #natureLang #langList li a {
        padding: 6px 39px;
        margin: 0;
        display: block;
        width: 100%;
        height: auto; }
        #natureLang #langList li a:hover {
          color: #27ae60; }

.langItem {
  background: url(../img/flags.png) no-repeat; }

.lang-is {
  background-position: 13px -169px; }

.lang-en {
  background-position: 13px 11px; }

.lang-ger {
  background-position: 13px -19px; }

.lang-pl {
  background-position: 13px -50px; }

.lang-fr {
  background-position: 13px -79px; }

.lang-chi {
  background-position: 13px -109px; }

.lang-es {
  background-position: 13px -139px; }

.navbar {
  border: 0; }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin: 0; }

.navbar-brand {
  padding: 0;
  margin: 0; }

/* REUSABLE CLASSES
---------------------------- */
/* BORDER RADIUS TOP ONLY */
.borderRadiusTop {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0; }

/* BOX CLASS */
.box {
  background: white; }

.green {
  color: #27ae60; }

/* FONT WEIGHTS */
/* HEADER
-----------------------------*/
#header, .headerWrapper {
  background: white; }

.headerWrapper {
  border-bottom: 1px solid #ccc; }

.navbar-header {
  padding: 8px 0; }
  .navbar-header h1 {
    padding: 0;
    margin: 0; }

/* COVER
-----------------------------*/
/* INDEX*/
.cover {
  background-position: 50% 28%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 526px;
  padding-top: 83px; }

.coverWhy {
  text-align: center;
  width: auto;
  float: left;
  -webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6); }
  .coverWhy h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left; }
  .coverWhy p.whyParagraph {
    text-align: left;
    color: white;
    width: 577px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0;
    font-size: 16px;
    line-height: 24px; }
  .coverWhy #coverMoreInfo {
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 27px;
    display: block; }
    .coverWhy #coverMoreInfo i.fa-chevron-down {
      font-size: 38px; }

/* BUY BOX */
#buyBox {
  height: 433px;
  /* padding: 40px 66px 0; */
  padding: 40px 66px 0;
  text-align: center;
  
  /* BUYLIST ITEMS */ }
  #buyBox label {
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #aaa; }
    #buyBox label:focus {
      color: #474747; }
  #buyBox input[type="checkbox"] {
    margin: 0;
    cursor: pointer; }
  #buyBox #buyList {
    padding: 0 0 20px;
    margin: 0;
    list-style: none;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-size: 30px; }
  #buyBox .checkboxin {
    cursor: pointer; }
    #buyBox .checkboxin .checkbox {
      height: 21px;
      width: 21px;
      background: url(../img/checkboxes.png) no-repeat; }
    #buyBox .checkboxin .emptyCheck {
      background-position: 0 0; }
    #buyBox .checkboxin .fullCheck {
      background-position: 0 -31px; }
    #buyBox .checkboxin .listText {
      color: #474747;
      padding-left: 10px;
      word-break: break-all; }
  #buyBox .buyEquals {
    margin: 0 0 28px;
    padding-top: 10px;
    font-weight: 600;
    color: #474747; }
  #buyBox .buyOff {
    color: #e74c3c;
    padding-left: 10px; }
  #buyBox #currHolder {
    padding-left: 4px; }
  #buyBox h2 {
    font-weight: 700;
    font-size: 46px;
    margin: 0 0 29px; }
  #buyBox p.pickArea {
    text-align: left;
    margin-bottom: 0; }

/* BUY BOX PRICES */
.buyOff {
  display: none; }

.activeText {
  color: #474747 !important; }

/* SUBPAGE */
.subPage .cover {
  height: 130px;
  background-position: 11% 15%;
  background: url(../img/random/cover2.jpg) no-repeat 50% 22%;
  background-size: cover; }

.subPage label {
  display: block; }

/* SECTIONS
-----------------------------*/
.section {
  padding: 40px 0; }
  .section h2 {
    font-size: 40px;
    font-weight: 700; }
    .section h2 a {
      color: #474747; }

/* BACKGORUND COLOR CLASSES */
.sectionLight {
  background: #f3f3f3; }

.sectionDark {
  background: #e6e5e5; }

/* SECTION TITLE */
.sectionTitle {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  color: #2a2a2a;
  position: relative;
  margin: 0 0 38px; }
  .sectionTitle hr {
    border-top: 1px solid #bbb;
    border-bottom: 0;
    position: absolute; }
  .sectionTitle hr.right {
    right: 0;
    top: 4px; }

/* SECTION 1
-----------------------------*/
.section-locations .sectionTitle hr {
  width: 41%; }

.location h3 a {
  font-size: 40px;
  color: #2a2a2a;
  font-weight: bold; }

.locationText {
  margin-bottom: 20px; }

/* SECTION 2
-----------------------------*/
.whyImgSecondRow {
  margin-top: 30px; }

.section-locations .sectionTitle hr {
  width: 38%; }

#section_02 img {
  width: 100%;
  height: auto; }

/* SECTION 3
-----------------------------*/
.section-contact .sectionTitle hr {
  width: 39%; }

.section-contact input[type="text"], .section-contact textarea {
  background: white;
  color: #aaa;
  border: 1px solid #ccc;
  padding: 10px 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.section-contact textarea {
  margin-top: 30px; }

#errormessages {
  display: none; }

/* FOOTER
-----------------------------*/
#footer {
  text-align: center; }
  #footer .footerInner {
    border-top: 1px solid #bbb;
    padding: 23px 0; }

/* SCROLL TO TOP */
.toTheTop {
  position: fixed; }
  .toTheTop:hover {
    text-decoration: none; }

/* ENGLISH
-----------------------------*/
.lang-secondary .cover {
  background: url(../img/random/cover1.jpg) no-repeat 50% 0 !important;
  background-size: cover; }

/* MEDIA QUERY */
.mediaQuery {
  display: none; }


.location-img 
{
    position:relative;
    overflow:hidden;
}

  .location-caption{
      text-align:center; position:absolute;
      bottom: -45px;
    right: -58px;
    height: 109px;
    width: 174px;
    font-size:12px;
      background:rgba(255,255,255, 0.8); padding:5px; transform:rotate(-37deg); -ms-transform:rotate(-37deg); /* IE 9 */ -webkit-transform:rotate(-37deg);
  }

    .caption-text{
      font-size:12px;
    }

    .activity-free{
      font-size:13px;
      color: #e74c3c !important; }
    }

/* ------------------------------------------------------------------
BLAND.is SASS/CSS WORK BY B. GUNNARSSON @ EPERTIA www.expertia.is
------------------------------------------------------------------ */

/* LARGEST DESKTOP ONLY */
@media (min-width: 1400px) {

  .mediaQuery {
    background: pink; }

  .container {
    max-width: 1370px;
    width: 1370px;
    padding: 0; }

  /* ARCADE CUSTOM NAV
  ---------------------*/
  #arcade-mobile-nav, #mobile-nav-trigger {
    display: none; }

  /* COVER
  ----------------------------------*/
  .coverWhy p.whyParagraph {
    width: 577px; }

  /* SECTION TITLES
  ----------------------------------*/
  .sectionTitle hr {
    width: 24%;
    top: 4px; }

  .section-locations .sectionTitle hr {
    width: 39%; }

  .section-contact .sectionTitle hr {
    width: 34%; }

  .section-leirhnjukur .sectionTitle hr {
    width: 33%; }

  .toTheTop {
    bottom: 20px;
    right: 40px;
    font-size: 40px; }

     .location-img {
    width:437px;
    height:241px;
    position:relative;
    overflow:hidden;
    }

  .location-caption{
      text-align:center; position:absolute;
      bottom: -45px;
    right: -58px;
    height: 109px;
    width: 174px;
    font-size:12px;
      background:rgba(255,255,255, 0.8); padding:5px; transform:rotate(-37deg); -ms-transform:rotate(-37deg); /* IE 9 */ -webkit-transform:rotate(-37deg);
  }

    .caption-text{
      font-size:12px;
    }

    .activity-free{
      font-size:13px;
      color: #e74c3c !important; }
    }

}

/* LARGE DESKTOP ONLY */
@media (min-width: 1200px) and (max-width: 1390px) {
  .mediaQuery {
    background: red; }

  /* ARCADE CUSTOM NAV
  ---------------------*/
  #arcade-mobile-nav, #mobile-nav-trigger {
    display: none; }

  /* COVER
  ----------------------------------*/
  .coverWhy p.whyParagraph {
    width: 555px; }

  /* SECTION TITLES
  ----------------------------------*/
  .sectionTitle hr {
    width: 19%;
    top: 4px; }

  .section-locations .sectionTitle hr {
    width: 37%; }

  .section-contact .sectionTitle hr {
    width: 32%; }

  .section-leirhnjukur .sectionTitle hr {
    width: 30%; }

  /* TO THE TOP */
  .toTheTop {
    bottom: 7px;
    right: 22px;
    font-size: 40px; }

  .location-img {
    width:360px;
    height:199px;
    position:relative;
    overflow:hidden;
    }

  .location-caption{
      text-align:center; position:absolute;
      bottom: -45px;
    right: -58px;
    height: 109px;
    width: 174px;
    font-size:12px;
      background:rgba(255,255,255, 0.8); padding:5px; transform:rotate(-37deg); -ms-transform:rotate(-37deg); /* IE 9 */ -webkit-transform:rotate(-37deg);
  }

    .caption-text{
      font-size:12px;
    }

    .activity-free{
      font-size:13px;
      color: #e74c3c !important; }
    }
}

/* SMALL DESKTOP / BIG LANDSCAPE TABLET(iPad) */
@media (min-width: 980px) and (max-width: 1200px){
   .mediaQuery {
    background: orange; }

  body {
    padding-top: 132px; }

  /* ARCADE CUSTOM NAV
  ----------------------------------*/
  .headerWrapper {
    padding-bottom: 16px; }

  #arcade-mobile-nav, #mobile-nav-trigger {
    display: none; }

  #arcade-desktop-nav {
    float: none !important;
    text-align: center; }

  .navList li {
    float: none;
    display: inline !important; }

  .arcadeNav a {
    padding: 0 22px; }

  .navbar-header {
    width: 100%;
    float: none; }
    .navbar-header .logoH1 {
      text-align: center; }

  .navbar-brand {
    float: none; }

  /* LANG DROPDOWN */
  #natureLang #langList {
    top: 38px; }

  /* COVER
  ----------------------------------*/
  .coverWhy {
    margin-top: -44px; }
    .coverWhy p.whyParagraph {
      width: auto; }

  #buyBox {
    padding: 31px 50px 0; }
    #buyBox h2 {
      font-size: 38px; }

  /* SECTION TITLES
  ----------------------------------*/
  .sectionTitle hr {
    width: 13%;
    top: 4px; }

  .section-locations .sectionTitle hr {
    width: 36%; }

  .section-contact .sectionTitle hr {
    width: 29%; }

  .section-leirhnjukur .sectionTitle hr {
    width: 26%; }

  /* BUY BOX
  ----------------------------------*/
  .listText {
    width: 71%; }

  /* TO THE TOP */
  .toTheTop {
    bottom: 7px;
    right: 16px;
    font-size: 40px; } 

  .location-img {
    width:293px;
    height:162px;
    position:relative;
    overflow:hidden;
    }

  .location-caption{
      text-align:center; position:absolute;
      bottom: -45px;
    right: -58px;
    height: 109px;
    width: 174px;
    font-size:12px;
      background:rgba(255,255,255, 0.8); padding:5px; transform:rotate(-37deg); -ms-transform:rotate(-37deg); /* IE 9 */ -webkit-transform:rotate(-37deg);
  }
}

/* Portrait tablet AND SMALL LANDSCAPE TABLET */
@media (min-width: 768px) and (max-width: 979px){
  .mediaQuery {
    background: green; }

  /* ARCADE CUSTOM NAV
  ---------------------*/
  #arcade-desktop-nav {
    display: none; }

  #mobile-nav-trigger 
  {
    display: block; 
  }

  .navbar-header {
    width: 100%; }

  /* LANG LIST */
  #natureLang #langList {
    position: relative;
    top: auto;
    right: auto;
    box-shadow: 0 0 0;
    padding-left: 25px;
    width: 100%;
    display: block; }

  #navLangTrigger {
    border-bottom: 1px solid #e8e8e8; }

  /* COVER
  ----------------------------------*/
  .coverWhy {
    margin-top: -84px; }
    .coverWhy p.whyParagraph {
      width: auto; }

  #buyBox {
    padding: 39px 29px 0; }
    #buyBox h2 {
      font-size: 34px; }
    #buyBox #buyList {
      font-size: 26px; }

  /* SECTION 02 */
  .location h3 a {
    font-size: 36px; }

  /* BUY BOX
  ----------------------------------*/
  .listText {
    width: 74%; }

  /* TO THE TOP */
  .toTheTop {
    bottom: 14px;
    right: 12px;
    font-size: 28px; } 

  .location-img {
    width:220px;
    height:120px;
    position:relative;
    overflow:hidden;
    }

  .location-caption{
      text-align:center; position:absolute;
      bottom: -45px;
    right: -58px;
    height: 109px;
    width: 174px;
    font-size:12px;
      background:rgba(255,255,255, 0.8); padding:5px; transform:rotate(-37deg); -ms-transform:rotate(-37deg); /* IE 9 */ -webkit-transform:rotate(-37deg);
  }

}

/* PORTRAIT SMALL TABLETS & BIG LANDSCAPE PHONE (BIG SCREENS, SIII, iPhone) */
@media (max-width: 767px) {
  .mediaQuery {
    background: blue; }

  body {
    padding-top: 57px; }

    /* ARCADE CUSTOM NAV
  ---------------------*/
  #arcade-desktop-nav {
    display: none; 
  }

  #mobile-nav-trigger 
  {
    display: block; 
  }
  
  .navbar-header 
  {
    width: 100%; 
  }

  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin: 0; }

  /* LANG LIST */
  #natureLang #langList {
    position: relative;
    top: auto;
    right: auto;
    box-shadow: 0 0 0;
    padding-left: 25px;
    width: 100%;
    display: block; }

  #navLangTrigger {
    border-bottom: 1px solid #e8e8e8; }

  /* COVER */
  .cover {
    height: auto;
    padding: 13px 0;
    background-position: 11% 50%; }
    .cover h2, .cover .col-sm-7 {
      display: none; }

    #buyBox {
    height: auto;
    padding: 20px; }
    #buyBox h2 {
      display: block;
      font-size: 24px;
      margin: 0; }
    #buyBox label {
      margin: 0;
      cursor: pointer;
      color: #aaa;
      font-size: 18px;
      padding: 0 0 0 19px; }
      #buyBox label:focus {
        color: #474747; }
    #buyBox input[type="checkbox"] {
      margin: 0;
      top: 7px; }
    #buyBox li {
      display: block; }
    #buyBox #buyList {
      padding: 0 0 20px;
      margin: 0;
      list-style: none;
      text-align: left;
      border-bottom: 1px solid #ccc;
      font-size: 30px; }
    #buyBox .buyEquals {
      margin: 0 0 10px;
      padding-top: 10px;
      font-weight: 600;
      color: #474747; }
    #buyBox .buyOff {
      color: #e74c3c;
      padding-left: 10px; }
    #buyBox p.pickArea {
      text-align: left;
      margin-bottom: 0;
      margin-top: 20px; }

  .location {
    text-align: center;
    padding-bottom: 30px; }

  #section_01 {
    padding-bottom: 10px; }

  #section_02 {
    padding-bottom: 10px; }
    #section_02 .imgRow .col-sm-6 {
      padding-bottom: 30px; }

  .whyImgSecondRow {
    margin-top: 0px; }

  /* HEADER */
  .navbar-header h1 a {
    max-width: 57%; }

  #mobile-nav-trigger {
    font-size: 33px;
    margin: 0; }

  .navbar-brand {
    height: 35px; }

  .section h2 {
    font-size: 40px;
    line-height: 48px;
    -webkit-word-break: break-all;
    -moz-word-break: break-all;
    -ms-word-break: break-all;
    -o-word-break: break-all;
    word-break: break-all; }

  .sectionTitle {
    margin: 0 0 23px; }

  .location-img {
    width:437px;
    height:241px;
    position:relative;
    overflow:hidden;
    margin: auto;
    }

  .location-caption
  {
      text-align:center; position:absolute;
      bottom: -45px;
      right: -58px;
      height: 109px;
      width: 174px;
      font-size:12px;
      background:rgba(255,255,255, 0.8); padding:5px; transform:rotate(-37deg); -ms-transform:rotate(-37deg); /* IE 9 */ -webkit-transform:rotate(-37deg);
  }

}

/* PORTRAIT PHONE AND SMALL LANDSCAPE PHONE(SMALL SCREENS, galaxy y, etc.)) */
@media (max-width: 480px) {
  .mediaQuery {
    background: yellow; }

  .navbar-header h1 a {
    max-width: 79%; }

  /* BUY BOX
  ----------------------------------*/
  .listText {
    width: 59%;
    font-size: 20px;
    margin-top: 7px; }
}