/* -----------------------------------------------------------------------------------------------

	www.ArcadeFlower.com SASS/CSS WORK BY B. GUNNARSSON @ ARCADEFLOWER www.arcadeflower.com
	
----------------------------------------------------------------------------------------------- */

/* BOOTSTRAP FIXES
-----------------------------*/

/* IE7 SUPPORT */
* {
	box-sizing: border-box; *behavior: url(boxsizing.htc);
	@include textShadow(0,0,0,0);
	// -webkit-border-radius: 0 !important;
	//    -moz-border-radius: 0 !important;
	// 		border-radius: 0 !important;

	&:focus {
		box-sizing: border-box; *behavior: url(boxsizing.htc);
		@include textShadow(0,0,0,0);
		// -webkit-border-radius: 0 !important;
		//    -moz-border-radius: 0 !important;
		// 		border-radius: 0 !important;
	}
}

/* BUTTONS
-----------------------------*/
.btn {
	font-weight: $normal;
	@include borderRadiusSingle(3px);
	&:hover {
	}
}
.btn-default {

	&:hover {

	}
}
.btn-primary {

	&:hover {

	} // END HOVER
} // END .BTN-PRIMARY
.btn-success {
	background: $green;
	border-color: $green;
	&:hover {
	background: darken($green, 3%);
	border-color: darken($green, 3%);
	} // END HOVER
} // END .BTN-SUCCESS
.btn-danger {

	&:hover {

	} // END HOVER
} // END .BTN-DANGER
.btn-warning {

	&:hover {

	} // END HOVER
} // END .BTN-WARNING
.btn-arcade {

	&:hover {

	} // END HOVER
} // END .BTN-ARCADE

/* ALERTS */
.alert {

	.alert-link {
		color: $white;
		&:hover {
			text-decoration: none;
		} // HOVER
	} // LINK
} // WARNING

.alert-danger {

} // DANGER
.alert-success {

} // SUCCESS
.alert-info {

} // INFO


/* OTHER BOOTSTRAP STUFF */
.well {
	background: #eee;
	@include boxShadow(0,0,0,0);
	border: 0;
}


/* GLOBAL
-----------------------------*/
html, body {
	min-height: 100%;
	max-height: 100%;
	height: 100%;
}
body {
	background: $creme;
	font-family: $fontFamily;
	color: #2a2a2a;
	font-size: 16px;
	// background-size: cover;
	// padding-top: 599px;
}
p {
	color: #2a2a2a;
}

a {
	color: $green;
	&:hover {
		color: darken($green, 3%);
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $fontFamily;
}

img {
	max-width: 100%;
}

/* FORMS
-----------------------------*/

// SELECT
select {
	padding: 5px 9px 6px;
	border: 1px solid $ddd;
	
	&:focus {

	}
}

input[type="text"], textarea {
	@include boxShadow(0,0,0,0);
	-webkit-appearance: none;
	   -moz-appearance: none;
	border: 1px solid #ccc;
	background: $white;
	padding: 6px 12px;
}


/* TYPOGRAPHY
-----------------------------*/
p {
	font-size: 14px;
	line-height: 22px;
}

/* SCALE HOVER
-----------------------------*/
.scale img {
	-webkit-transition: all .10s ease-in-out;
	   -moz-transition: all .10s ease-in-out;
		 -o-transition: all .10s ease-in-out;
			transition: all .10s ease-in-out;

	&:hover {
		-webkit-transform: scale(1.1);
	}
}

/* FONT WEIGHT CLASSES */
.bold {
	font-weight: $bold;
}

/* RESET LISTS */
.resetList {
	@include resetLists();
}

/* CUSTOM ARCADE NAV / NAVIGATION / NAVBAR
---------------------------------------------*/

// ARCADE NAV BUTTON
.btn-arcade-nav {

	&:hover {
		color: $white;
	} // END HOVER
} // END .BTN-ARCADE

#arcade-desktop-nav {
	// display: none;
}

#arcade-mobile-nav {
	position: absolute;
	top: 100%;
	left:0;
	width: 100%;
	// background: $creme;
	background: white;
	// text-align: center;
	display: none;

	li {
		float: none;
		border-top: 1px solid #e8e8e8;
		// text-align: center;
		&:first-child {
			border-top: 0;
		}
	}
	a {
		color: #474747;
		display: block;
		padding: 8px 10px;
		font-size: 20px;
		font-weight: $semiBold;
		&:hover {
			color: #2A2A2A;
			background: $creme;
			// background: darken($creme, 3%);
		}
	}
}
#mobile-nav-trigger {
	font-size: 40px;
	padding: 0;
	margin: 5px 0 0;
	display: block;
	line-height: 41px;
	display: none;

	&:hover {

	}
}
#arcade-nav-expansion {
	
}
.navList {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		float: left;
	}
}

/* NAV EFFECTS */
/* TOP NAV */
.arcadeNav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #2a2a2a;
	text-decoration: none;
	// text-transform: uppercase;
	letter-spacing: 1px;
	overflow: hidden;
	color: #474747;
	font-size: 18px;
	height: 24px;
	// width: 126px;
	margin-top: 21px;
	text-align: left;
	padding: 0 22px;
	font-weight: $semiBold;
	// padding: 0;
}
.arcadeNav a span {
	position: relative;
	display: inline-block;
	// width: 174px;
	-webkit-transition: -webkit-transform 0.1s;
	   -moz-transition: -moz-transform 0.1s;
			transition: transform 0.1s;
}
 
.arcadeNav a span::before {
	color: #2a2a2a;
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: $semiBold;
	// width: 164px;
	width: 311px;
	color: $green;
	-webkit-transform: translate3d(0,0,0);
	   -moz-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
	// display: none;
}
 
.arcadeNav a:hover span, .arcadeNav a:focus span {
	-webkit-transform: translateY(-100%);
	   -moz-transform: translateY(-100%);
			transform: translateY(-100%);
}

/* LANG LINK EFFECTS*/
#langList a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #2a2a2a;
	text-decoration: none;
	// text-transform: uppercase;
	letter-spacing: 1px;
	overflow: hidden;
	color: #474747;
	font-size: 18px;
	height: 24px;
	// width: 126px;
	margin-top: 21px;
	text-align: left;
	padding: 0 20px;
	// padding: 0;
}
#langList a span {
	position: relative;
	display: inline-block;
	// width: 174px;
	-webkit-transition: -webkit-transform 0.1s;
	   -moz-transition: -moz-transform 0.1s;
			transition: transform 0.1s;
}
 
#langList a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	width: 164px;
	color: $green;
	-webkit-transform: translate3d(0,0,0);
	   -moz-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
	// display: none;
}
 
#langList a:hover span, #langList a:focus span {
	-webkit-transform: translateY(-100%);
	   -moz-transform: translateY(-100%);
			transform: translateY(-100%);
}


#natureLang {
	position: relative;

	#langList {
		list-style: none;
		position: absolute;
		// top: 100%;
		display: none;
		top: 66px;
		right: 1px;
		background: $white;
		padding: 0;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
		li {
			float: none;
			a {
				padding: 6px 39px;
				margin: 0;
				display: block;
				width: 100%;
				height: auto;
				&:hover {
					// background: $green;
					color: $green;
				}
			}
		}
	}
}
.langItem {
	background: url(../img/flags.png) no-repeat;
}
	.lang-is {
		background-position: 13px -169px;
	}
	.lang-en {
		background-position: 13px 11px;
	}
	.lang-ger {
		background-position: 13px -19px;
	}
	.lang-pl {
		background-position: 13px -50px;
	}
	.lang-fr {
		background-position: 13px -79px;
	}
	.lang-chi {
		background-position: 13px -109px;
	}
	.lang-es {
		background-position: 13px -139px;
	}

.navbar {
	border: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin: 0;
}
.navbar-brand {
	padding: 0;
	margin: 0;
}


/* REUSABLE CLASSES
---------------------------- */
/* BORDER RADIUS TOP ONLY */
.borderRadiusTop {
	@include borderRadius(3px, 3px, 0, 0);
}

/* BOX CLASS */
.box {
	background: $white;
}
.green {
	color: $green;
}
/* FONT WEIGHTS */

/* HEADER
-----------------------------*/
#header, .headerWrapper {
	background: $white;
}
.headerWrapper {
	border-bottom: 1px solid #ccc;
}
.navbar-header {
	padding: 8px 0;
	h1 {
		padding: 0;
		margin: 0;
	}
}


// #bg-desktopNav {
// 	h1 {
// 		margin: 0;
// 	}
// }


/* COVER
-----------------------------*/

/* INDEX*/
.cover {
	// background: url(../img/cover.jpg) no-repeat 50% 0;
	background-position: 50% 28%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 526px;
	padding-top: 83px;
}
	.coverWhy {
		text-align: center;
		width: auto;
		float: left;
		// padding-top: 50px;
		-webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, .6);
		   -moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, .6);
				text-shadow: 0px 1px 2px rgba(0, 0, 0, .6);

		h1 {
			color: $white;
			font-size: 36px;
			font-weight: bold;
			margin-bottom: 20px;
			
			text-align: left;
		}
		p.whyParagraph {
			text-align: left;
			color: $white;
			width: 577px;
			border-top: 1px solid $white;
			border-bottom: 1px solid $white;
			padding: 20px 0;
			font-size: 16px;
			line-height: 24px;
		}
		#coverMoreInfo {
			color: $white;
			font-size: 22px;
			text-align: center;
			margin-top: 27px;
			display: block;
			i.fa-chevron-down {
				font-size: 38px;
			}
		}
	}

	/* BUY BOX */
	#buyBox {
		height: 443px;
		// padding: 104px 0 0;
		padding: 40px 66px 0;
		text-align: center;

		label {
			margin: 0;
			// padding: 0 0 0 23px;
			padding: 0;
			cursor: pointer;
			color: #aaa;
			// position: relative;
			// z-index: 9999;
			// float: left;
			// display: block;
			&:focus {
				color: $textColor;
			}
		}
		input[type="checkbox"] {
			margin: 0;
			// position: absolute;
			// top: 15px;
			// left: 0;
			cursor: pointer;
			// float: left;
			// z-index: -9999;
		}

		#buyList {
			padding: 0 0 20px;
			margin: 0;
			list-style: none;
			text-align: left;
			border-bottom: 1px solid #ccc;
			font-size: 30px;
			li {
				// position: relative;
			}
		}
		
		/* BUYLIST ITEMS */
		.checkboxin {
			cursor: pointer;
			.checkbox {
				height: 21px;
				width: 21px;
				background: url(../img/checkboxes.png) no-repeat;
				
			}
			.emptyCheck {
				background-position: 0 0;
			}
			.fullCheck {
				background-position: 0 -31px;
			}
			.listText {
				color: #474747;
				padding-left: 10px;
				word-break: break-all;
			}
		}

		.buyEquals {
			margin: 0 0 28px;
			padding-top: 10px;
			font-weight: $semiBold;
			color: $textColor;
		}
			.buyOff {
				color: $red;
				padding-left: 10px;
			}
			#currHolder {
				padding-left: 4px;
			}

		h2 {
			font-weight: $bold;
			font-size: 46px;
			margin: 0 0 29px;
		}
		p.pickArea {
			text-align: left;
			margin-bottom: 0;
		}
		#buyTrigger {
			
		}
	}
	
	/* BUY BOX PRICES */
	.buyOff {
		display: none;
	}
	.activeText {
		color: $textColor !important;
	}



/* SUBPAGE */
.subPage .cover {
	height: 130px;
	background-position: 11% 15%;
	background: url(../img/random/cover2.jpg) no-repeat 50% 22%;
	background-size: cover; 
}
.subPage  {
	label {
		display: block;
	}
}



/* SECTIONS
-----------------------------*/
.section {
	padding: 40px 0;
	h2 {
		font-size: 40px;
		font-weight: $bold;
		a {
			color: $textColor;
		}
	}

}

/* BACKGORUND COLOR CLASSES */
.sectionLight {
	background: $bgLight;
}
.sectionDark {
	background: $bgDarker;
}
/* SECTION TITLE */

.sectionTitle {
	text-align: center;
	font-weight: $bold;
	font-size: 50px;
	color: #2a2a2a;
	position: relative;
	margin: 0 0 38px;
	hr {
		border-top: 1px solid #bbb;
		// border-bottom: 2px solid transparent;
		border-bottom: 0;
		position: absolute;
	}
	hr.right {
		right: 0;
		top: 4px;
	}
}

/* SECTION 1
-----------------------------*/
.section-locations {
	.sectionTitle {
		hr {
			width: 41%;
		}
	}
}
.location {
	h3 a {
		font-size: 40px;
		color: #2a2a2a;
		font-weight: bold;
	}
}
	.locationText {
		margin-bottom: 20px;
	}

/* SECTION 2
-----------------------------*/
.whyImgSecondRow {
	margin-top: 30px;
}
.section-locations {
	.sectionTitle {
		hr {
			width: 38%;
		}
	}
}
#section_02 {
	img {
		width: 100%;
		height: auto;
	}
}


/* SECTION 3
-----------------------------*/
.section-contact {
	.sectionTitle {
		hr {
			width: 39%;
		}
	}
}
.section-contact {
	input[type="text"], textarea {
		background: $white;
		color: #aaa;
		border: 1px solid #ccc;
		padding: 10px 16px;
		@include borderRadiusSingle(3px);
	}
	textarea {
		margin-top: 30px;
	}
}
#errormessages {
	display: none;
}


/* FOOTER
-----------------------------*/
#footer {
	text-align: center;
	.footerInner {
		border-top: 1px solid #bbb;
		padding: 23px 0;
	}
}


/* SCROLL TO TOP */
.toTheTop {
	// color: $textColor;
	position: fixed;

	&:hover {
		// color: #2a2a2a;
		text-decoration: none;
	}
}


/* ENGLISH
-----------------------------*/
.lang-secondary {
	.cover {
		background: url(../img/random/cover1.jpg) no-repeat 50% 0 !important;
		background-size: cover;
	}
}


/* MEDIA QUERY */
.mediaQuery {
	display:none;
}