/* ------------------------------------------------------------------

BLAND.is SASS/CSS WORK BY B. GUNNARSSON @ EPERTIA www.expertia.is

------------------------------------------------------------------ */

/* SASS MIXINS 
-----------------------------*/
// EVERY VALUE BORDER RADIUS
@mixin borderRadius($radius1, $radius2, $radius3, $radius4) {
	-webkit-border-radius: $radius1 $radius2 $radius3 $radius4;
	   -moz-border-radius: $radius1 $radius2 $radius3 $radius4;
			border-radius: $radius1 $radius2 $radius3 $radius4;
}
// SINGLE VALUE BORDER RADIUS
@mixin borderRadiusSingle($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
			border-radius: $radius;
}
// SOLID BORDER
@mixin borderSolid($width, $color) {
	border: $width solid $color;
}
// BOX SHADOW
@mixin boxShadow($horizontal, $vertical, $blur, $rgba) {
	-webkit-box-shadow: $horizontal $vertical $blur $rgba;
	   -moz-box-shadow: $horizontal $vertical $blur $rgba;
			box-shadow: $horizontal $vertical $blur $rgba;
}
// TEXT SHADOW
@mixin textShadow($horizontal, $vertical, $blur, $rgba) {
	-webkit-text-shadow: $horizontal $vertical $blur $rgba;
	   -moz-text-shadow: $horizontal $vertical $blur $rgba;
			text-shadow: $horizontal $vertical $blur $rgba;
}

// ZERO OUT / RESET UL AND OL
@mixin resetLists() {
	list-style: none;
	padding: 0;
	margin: 0;
}
// BLACK SEETHROUGH BACKGROUND
@mixin seethroughBlackBG() {
	background: $black;
	background: rgba(0, 0, 0, 0.8);
}
// BORDERBOX BOX-SIZING
@mixin boxSizing($val) {
	-webkit-box-sizing: $val;
	   -moz-box-sizing: $val;
			box-sizing: $val;
}

// MAKE BACKGROUND COVER
@mixin backgroundCover() {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

// NO PADDING TOP
@mixin noPaddingTop() {
	margin-top:0;
}