/* ------------------------------------------------------------------

BLAND.is SASS/CSS WORK BY B. GUNNARSSON @ EPERTIA www.expertia.is

------------------------------------------------------------------ */

/* RESPONSIVE
-----------------------------*/

/* LARGE DESKTOP ONLY */
@media (min-width: 1200px) and (max-width: 1390px) {
	.mediaQuery {
		background: red;
		// display:none;
	}

	/* ARCADE CUSTOM NAV
	---------------------*/
	#arcade-mobile-nav, #mobile-nav-trigger {
		display: none;
	}

	/* COVER
	----------------------------------*/
	.coverWhy {
		p.whyParagraph {
			width: 555px;
		}
	}

	/* SECTION TITLES
	----------------------------------*/
	.sectionTitle {
		hr {
			width: 19%;
			top: 4px;
		}
	}
	.section-locations .sectionTitle hr {
		width: 37%;
	}
	.section-contact .sectionTitle hr {
		width: 32%;
	}
	.section-leirhnjukur .sectionTitle hr {
		width: 30%;
	}

	/* TO THE TOP */
	.toTheTop {
		bottom: 7px;
		right: 22px;
		font-size: 40px;
	}


} // END QUERY

/* LARGEST DESKTOP ONLY */
@media (min-width: 1400px) {
	.mediaQuery {
		background: pink;
	}
	.container {
		max-width: 1370px;
		width: 1370px;
		padding: 0;
	}

	/* ARCADE CUSTOM NAV
	---------------------*/
	#arcade-mobile-nav, #mobile-nav-trigger {
		display: none;
	}

	/* COVER
	----------------------------------*/
	.coverWhy {
		p.whyParagraph {
			width: 577px;	
		}
	}


	/* SECTION TITLES
	----------------------------------*/
	.sectionTitle {
		hr {
			width: 24%;
			top: 4px;
		}
	}
	.section-locations .sectionTitle hr {
		width: 39%;
	}
	.section-contact .sectionTitle hr {
		width: 34%;
	}
	.section-leirhnjukur .sectionTitle hr {
		width: 33%;
	}

	.toTheTop {
		bottom: 20px;
		right: 40px;
		font-size: 40px;
	}

} // END QUERY

/* SMALL DESKTOP / BIG LANDSCAPE TABLET(iPad) */
@media (min-width: 980px) and (max-width: 1200px) {

	.mediaQuery {
		background: orange;
		// display:none;
	}

	body {
		padding-top: 132px;
	}

	/* ARCADE CUSTOM NAV
	----------------------------------*/
	.headerWrapper {
		padding-bottom: 16px;
	}
	#arcade-mobile-nav, #mobile-nav-trigger {
		display: none;
	}
	#arcade-desktop-nav {
		float: none !important;
		text-align: center;
	}
	.navList li {
		float: none;
		display: inline !important;
	}
	.arcadeNav a {
		padding: 0 22px;
	}
	.navbar-header {
		// padding: 14px 0 0;
		// width: 22%;
		width: 100%;
		float: none;
		.logoH1 {
			text-align: center;
		}
	}
	.navbar-brand {
		float: none;
	}

	/* LANG DROPDOWN */
	#natureLang {
		#langList {
			top: 38px;
		}
	}

	// .arcadeNav a span::before {

	// }
	/* COVER
	----------------------------------*/
	.coverWhy {
		// padding-top: 17px;
		margin-top: -44px;
		p.whyParagraph {
			width: auto;
		}
	}
	#buyBox {
		padding: 31px 50px 0;
		h2 {
			font-size: 38px;
		}
	}

	/* SECTION TITLES
	----------------------------------*/
	.sectionTitle {
		hr {
			width: 13%;
			top: 4px;

		}
	}
	.section-locations .sectionTitle hr {
		width: 36%;
	}
	.section-contact .sectionTitle hr {
		width: 29%;
	}
	.section-leirhnjukur .sectionTitle hr {
		width: 26%;
	}

	/* BUY BOX
	----------------------------------*/
	.listText {
		width: 71%;
	}

	/* TO THE TOP */
	.toTheTop {
		bottom: 7px;
		right: 16px;
		font-size: 40px;
	}


} // END MEDIA QUERY
 
/* Portrait tablet AND SMALL LANDSCAPE TABLET */
@media (min-width: 768px) and (max-width: 979px) {

	.mediaQuery { 
		background: green;
		// display:none;
	}

	/* ARCADE CUSTOM NAV
	---------------------*/
	#arcade-desktop-nav {
		display: none;
	}
	#arcade-mobile-nav {
		// display: block;
	}
	#mobile-nav-trigger {
		display: block;
	}
	.navbar-header {
		width: 100%;
	}

	/* LANG LIST */
	#natureLang #langList {
		position: relative;
		top: auto;
		right: auto;
		box-shadow: 0 0 0;
		padding-left: 25px;
		width: 100%;
		display: block;
	}
	#navLangTrigger {
		border-bottom: 1px solid #e8e8e8;
	}

	/* COVER
	----------------------------------*/
	.coverWhy {
		// padding-top: 9px;
		margin-top: -84px;
		p.whyParagraph {
			width: auto;
		}
	}
	#buyBox {
		padding: 39px 29px 0;

		h2 {
			font-size: 34px;
		}
		#buyList {
			font-size: 26px;
		}
	}


	/* SECTION 02 */
	.location {
		h3 a {
			font-size: 36px;
		}
	}


	/* BUY BOX
	----------------------------------*/
	.listText {
		width: 74%;
	}

	/* TO THE TOP */
	.toTheTop {
		bottom: 14px;
		right: 12px;
		font-size: 28px;
	}

} // END MEDIA QUERY
 
/* PORTRAIT SMALL TABLETS & BIG LANDSCAPE PHONE (BIG SCREENS, SIII, iPhone) */
@media (max-width: 767px) {

	.mediaQuery {
		background:blue;
		// display:none;
	}
	
	body {
		padding-top:57px;
	}

	/* ARCADE CUSTOM NAV
	---------------------*/
	#arcade-desktop-nav {
		display: none;
	}
	#mobile-nav-trigger {
		display: block;
	}
	.navbar-header {
		width: 100%;
	}
	.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
		margin: 0;
	}

	/* LANG LIST */
	#natureLang #langList {
		position: relative;
		top: auto;
		right: auto;
		box-shadow: 0 0 0;
		padding-left: 25px;
		width: 100%;
		display: block;
	}
	#navLangTrigger {
		border-bottom: 1px solid #e8e8e8;
	}

	/* COVER */
	.cover {
		// display: none;
		height: auto;
		padding: 13px 0;
		background-position: 11% 50%;

		h2, .col-sm-7 {
			display:none;
		}
	}
		#buyBox {
			height: auto;
			padding: 20px;

			h2 {
				display: block;
				font-size: 24px;
				margin: 0;
			}

			label {
				margin: 0;
				cursor: pointer;
				color: #aaa;
				font-size: 18px;
				padding: 0 0 0 19px;
				&:focus {
					color: $textColor;
				}
			}
			input[type="checkbox"] {
				margin: 0;
				top: 7px;
			}
			li {
				// height: 32px;
				display: block;
			}

			#buyList {
				padding: 0 0 20px;
				margin: 0;
				list-style: none;
				text-align: left;
				border-bottom: 1px solid #ccc;
				font-size: 30px;
			}
			.buyEquals {
				margin: 0 0 10px;
				padding-top: 10px;
				font-weight: $semiBold;
				color: $textColor;
			}
				.buyOff {
					color: $red;
					padding-left: 10px;
				}
			p.pickArea {
				text-align: left;
				margin-bottom: 0;
				margin-top: 20px;
			}
			#buyTrigger {
				
			}

		}
	
	.location {
		text-align: center;
		padding-bottom: 30px;
	}
	#section_01 {
		padding-bottom: 10px;
	}
	#section_02 {
		padding-bottom: 10px;
		.imgRow .col-sm-6 {
			padding-bottom: 30px;
		}		
	}
	.whyImgSecondRow {
		margin-top: 0px;
	}

	/* HEADER */
	.navbar-header {
		h1 {
			a {
				max-width: 57%;
			}
		}
	}
	#mobile-nav-trigger {
		font-size: 33px;
		margin: 0;
	}
	.navbar-brand {
		height: 35px;
	}
	.section h2 {
		font-size: 40px;
		line-height: 48px;
		-webkit-word-break: break-all;
		   -moz-word-break: break-all;
			-ms-word-break: break-all;
			 -o-word-break: break-all;
				word-break: break-all;

	}
	.sectionTitle {
		margin: 0 0 23px;
	}

	/* SECTION 03
	-------------------------*/
	#section_03 {
		.upper-col-sm-6 {
			margin-bottom: 30px;
		}
	}
		
} // END MEDIA QUERY
 
/* PORTRAIT PHONE AND SMALL LANDSCAPE PHONE(SMALL SCREENS, galaxy y, etc.)) */
@media (max-width: 480px) {

	.mediaQuery {
		background:yellow;
		// display:none;
	}

	.navbar-header {
		h1 {
			a {
				max-width: 79%;
			}
		}
	}

	/* BUY BOX
	----------------------------------*/
	.listText {
		width: 59%;
		font-size: 20px;
		margin-top: 7px;
	}

} // END MEDIA QUERY