/* ------------------------------------------------------------------

BLAND.is SASS/CSS WORK BY B. GUNNARSSON @ EPERTIA www.expertia.is

------------------------------------------------------------------ */

/* SASS VARIABLES 
-----------------------------*/

/* FONT */
$fontFamily: 'Open Sans', sans-serif;

/* FONT SIZES */
$fontSize: 16px;
$headingFontSize: 24px;
$textColor: #474747;

// FONT WEIGHTS
$light: 300;
$normal: 400;
$semiBold: 600;
$bold: 700;

// COLORS
$white: #fff;
$black100: #000;
$ddd: #ddd;
$creme: #f3f3f3;

$bgLight: #f3f3f3;
$bgDarker: #e6e5e5;

$green: #27ae60;
$red: #e74c3c;